Q1. Write a code to reverse a string.

In [ ]:
s=str(input())
s=s[::-1]
print(s)

My name is Arjun Kumar
ramuK nujrA si eman yM

Q2. Write code to count the number of vowels in string

In [ ]:
s=str(input())
s=s.lower()
count=0
for i in s:
  if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
    count+=1

print(count)

I AM STUDYING DATA science
9

Q3. Write a code to check if a given string is a palindrome or not.

In [ ]:
s=str(input())
x=s[::-1]
if s==x:
    print("Palindrome")
else:
    print("Not a Palindrome")

aagggaa
Palindrome

Q4.  Write a code to check if two given strings are anagrams of each other

In [ ]:
s=str(input())
x=str(input())

if sorted(s)==sorted(x):
    print("Given strings are Anagrams of each other")
else:
    print("Not an anagram")

bear
bare
Given strings are Anagrams of each other

Q5.  Write a code to find all occurrences of a given substring within another string

In [ ]:
string = str(input())
substring = str(input())

start=0
occ=[]

while True:
    start=string.find(substring,start)
    if start==-1:
        break
    occ.append(start)
    start+=1

print(occ)

This is a testest string. This test is for testing.
test
[10, 13, 31, 43]

Q6. Write a code to perform basic string compression using the counts of repeated characters

In [ ]:
string=str(input())
r=""

count=1
for i in range(1,len(string)):
    if string[i]==string[i-1]:
        count+=1
    else:
        r+=string[i-1]+str(count)
        count=1
r+=string[i-1]+str(count)
print(r)

aaabbccccaaa
a3b2c4a3

Q7. Write a code to determine if a string has all unique characters.

In [ ]:
s=str(input())
x=set(s)

if len(s)==len(x):
  print("String has all unique characters")
else:
  print("Not all characters are unique")

abcdefghijkl
String has all unique characters

Q8.  Write a code to convert a given string to uppercase or lowercase

In [ ]:
s=str(input())

# Converting string to lowercase
s=s.lower()
print("Lowercase:",s)

# converting string to uppercase
s=s.upper()
print("Uppercase:",s)

My name is Arjun Kumar
Lowercase: my name is arjun kumar
Uppercase: MY NAME IS ARJUN KUMAR

Q9.  Write a code to count the number of words in a string

In [ ]:
s=str(input())
x=s.split()
print(len(x))

This is a sample string to count words.
8

Q10. Write a code to concatenate two strings without using the + operator.

In [ ]:
s=str(input())
x=str(input())

r=(" ").join([s,x])
print(r)

Hello
World
Hello World

Q11.  Write a code to remove all occurrences of a specific element from a list.

In [ ]:
s=input("Enter the string").split()
x=str(input("Enter the element which you want to remove"))

c=s.count(x)

for i in range(c):
  s.remove(x)

s

Enter the stringa b c d b b d e d b b x b x b x b b
Enter the element which you want to removeb

['a', 'c', 'd', 'd', 'e', 'd', 'x', 'x', 'x']

Q12.  Implement a code to find the second largest number in a given list of integers

In [ ]:
s=list(map(int, input().split()))
s.sort()
print(s[-2])
s

1 2 67 88 24 55 12 34 90 100 94 91 98
98

[1, 2, 12, 24, 34, 55, 67, 88, 90, 91, 94, 98, 100]

Q13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values

In [ ]:
l=[1,2,3,1,2,5,2,3,5,4,6,7,9,10,6,7,5,7,10]

d={}

for i in l:
    if d.get(i,-1)==-1:
        d[i]=1
    else:
        d[i]+=1

d

{1: 2, 2: 3, 3: 2, 5: 3, 4: 1, 6: 2, 7: 3, 9: 1, 10: 2}

Q14.  Write a code to reverse a list in-place without using any built-in reverse functions

In [ ]:
l=input().split()

l=l[::-1]
l

1 2 3 4 5 6 7 8 9 10

['10', '9', '8', '7', '6', '5', '4', '3', '2', '1']

Q15. Implement a code to find and remove duplicates from a list while preserving the original order of
elements

In [ ]:
l=input().split()
s=set()
p=[]

for i in l:
  if i not in s:
    p.append(i)
    s.add(i)

p

1 2 3 2 4 3 5 6

['1', '2', '3', '4', '5', '6']

Q16. Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [ ]:
l=[1,2,3,4,5,6,7,9,11]

x=len(l)
p=1
for i in range(1,x-1):
    if (l[i-1]>l[i]<l[i+1]) or (l[i-1]<l[i]>l[i+1]):
        p=0
        break

if p==1:
    print("Sorted")
else:
    print("Not sorted")

Q17. Write a code to merge two sorted lists into a single sorted list

In [3]:
def merge_sorted_lists(list1, list2):
    merged_list = []
    i, j = 0, 0

    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1

    while i < len(list1):
        merged_list.append(list1[i])
        i += 1

    while j < len(list2):
        merged_list.append(list2[j])
        j += 1

    return merged_list

list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]

merged_list = merge_sorted_lists(list1, list2)
print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8]

Q18.  Implement a code to find the intersection of two given lists.

In [1]:
l1 = [15, 9, 10, 56, 23, 78, 5, 4, 9]
l2 = [9, 4, 5, 36, 47, 26, 10, 45, 9, 87]

l=[]
for i in l1:
    if i in l2:
        l.append(i)
        l2.remove(i)

l

[9, 10, 5, 4, 9]

Q19. Create a code to find the union of two lists without duplicates

In [ ]:
l1 = [15, 9, 10, 56, 23, 78, 5, 4, 9]
l2 = [9, 4, 5, 36, 47, 26, 10, 45, 9, 87]

s1=set(l1)
s2=set(l2)

l=list(s1 | s2)
l

[4, 5, 36, 9, 10, 45, 78, 15, 47, 87, 23, 56, 26]

Q20. Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [ ]:
l=[1,2,3,4,5,6]

x=len(l)
temp=l[0]

for i in range(x-1):
    l[i]=l[i+1]

l[x-1]=temp
print(l)

[2, 3, 4, 5, 6, 1]

Q21. Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [ ]:
t1=tuple(input().split())
t2=tuple(input().split())

t=tuple(set(t1) & set(t2))
print(t)

1 2 3 4 5
3 4 5 6 7
('4', '3', '5')

Q22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

In [ ]:
s1=set(map(int, input("Enter the integers og set1: ").split(",")))
s2=set(map(int, input("Enter the integers og set2: ").split(",")))

print(s1 & s2)

Enter the integers og set1: 1,2,3,4,5
Enter the integers og set2: 4,5,6,7,8
{4, 5}

Q23.  Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.

In [ ]:
def concat_tuples(t1,t2):
  return t1+t2

t1=tuple(input("Enter the elements : ").split())
t2=tuple(input("Enter the elements : ").split())

t3=concat_tuples(t1,t2)
print(t3)

Enter the elements : 1 2 3 4 5
Enter the elements : 4 5 6 7 8
('1', '2', '3', '4', '5', '4', '5', '6', '7', '8')

Q24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set

In [ ]:
a=set(map(str,input().split()))
b=set(map(str,input().split()))

d=(a - b)
print(d)

1 2 3 4 5 6
4 5 6 7 8 9
{'1', '2', '3'}

Q25.Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices

In [ ]:
def new_tuple(t,a,b):
    return tuple(t[a:b])

t=tuple(input().split())
a=int(input())
b=int(input())

x=new_tuple(t,a,b)
print(x)

1 2 3 4 5 6 7 8 9
2
6
('3', '4', '5', '6')

Q26.  Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [ ]:
s1=set(input("Enter the characters of set1 seperated by spaces : ").split())
s2=set(input("Enter the characters of set2 seperated by spaces : ").split())

# Union of two sets

print(s1 | s2)

Enter the characters of set1 seperated by spaces : a b c d e f g h
Enter the characters of set2 seperated by spaces : e f g h i j k l m n
{'n', 'g', 'h', 'l', 'm', 'i', 'j', 'c', 'e', 'f', 'b', 'd', 'a', 'k'}

Q27.  Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking

In [ ]:
def tup(t):
    # Unpackingg of tuple
    min_val, max_val = min(t) , max(t)
    return min_val,max_val

t=tuple(map(int,input().split()))
min_v , max_v = tup(t)

print("Minimum value is :", min_v)
print("Maximum value is :", max_v)

55 67 12 48 -18 69 1111 -46
Minimum value is : -46
Maximum value is : 1111

Q28.  Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets

In [ ]:
s1=set(map(int, input("Enter the integers of set1 seperated by spaces : ").split()))
s2=set(map(int, input("Enter the integers of set2 seperated by spaces : ").split()))

# Union
print("Union of both the sets is:",s1 | s2)

# Intersection
print("Intersection of both the sets is:",s1 & s2)

# Diffrence
print("Diffrence of both the sets is:",s1 -s2)

Enter the integers of set1 seperated by spaces : 1 2 3 4 5 6 7
Enter the integers of set2 seperated by spaces : 4 5 6 7 8 9 10
Union of both the sets is: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Intersection of both the sets is: {4, 5, 6, 7}
Diffrence of both the sets is: {1, 2, 3}

Q29.  Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple

In [ ]:
def count_value(t,c):
    return t.count(c)

t=tuple(input().split())
n=input()
print("count is:",count_value(t,n))

1 2 3 4 5 4 6 7 4 8 4 2 4 3 4
4
count is: 6

Q30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets

In [ ]:
s1=set(input("Enter the strings of set1 seperated by spaces : ").split())
s2=set(input("Enter the strings of set2 seperated by spaces : ").split())

print("Symmetric Diffrence is:", s1 ^ s2)

Enter the strings of set1 seperated by spaces : delhi lucknow goa noida
Enter the strings of set2 seperated by spaces : goa chennai punjab noida
Symmetric Diffrence is: {'delhi', 'punjab', 'chennai', 'lucknow'}

Q31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list

In [ ]:
def words(l):
    dict={}

    for word in l:
        if word in dict:
            dict[word]+=1
        else:
            dict[word]=1

    return dict

word=list(input("Enter the list of words:").split())
d=words(word)
print(d)

Enter the list of words:delhi bombay goa delhi goa chennai noida bombay chennai
{'delhi': 2, 'bombay': 2, 'goa': 2, 'chennai': 2, 'noida': 1}

Q32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together

In [ ]:
def merge_dict(d1,d2):
  d3=d1.copy()
  for key,value in d2.items():
    if key in d3:
      d3[key]+=value
    else:
      d3[key]=value

  return d3

d1={'a': 5, 'b': 7, 'c': 6, 'd': 88}
d2={'b': 27, 'c': 90, 'd': 5, 'e':2}

d3=merge_dict(d1,d2)
print(d3)

{'a': 5, 'b': 34, 'c': 96, 'd': 93, 'e': 2}

Q33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None

In [ ]:
def get_value(d1,keys):
    d=d1

    for key in keys:
        if key in d:
            d=d[key]
        else:
            return None

    return d

d1={
    'a':{
        'b':{
            'c':10
        },
        'd':20
    }
}

keys=['a','b','c']
x=get_value(d1,keys)
print(x)

10

Q34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order

In [ ]:
def sortByVale(dict):
    d={key:value for key, value in sorted(dict.items(),key=lambda dict: dict[1])}

    return d

dict = {'apple': 1, 'mango': 2, 'orange': 3, 'pineapple': 4, 'banana': 7, 'watermelon': 8}
d=sortByVale(dict)

print(d)

{'apple': 1, 'mango': 2, 'orange': 3, 'pineapple': 4, 'banana': 7, 'watermelon': 8}

Q35.  Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.

In [ ]:
def invert_dict(dict):
    d={}

    for key,value in dict.items():
        if value in d:
            d[value].append(key)
        else:
            d[value]=[key]

    return d

dict={'F': 69, 'G': 67, 'H': 23, 'A': 67, 'C': 45, 'B': 23, 'E': 12}
d=invert_dict(dict)

print(d)

{69: ['F'], 67: ['G', 'A'], 23: ['H', 'B'], 45: ['C'], 12: ['E']}